In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

df = pd.read_csv('day5_data2.csv')
df

    ID  History  CoApplicant Accommodation  Fraud
0    1  current         none           own   True
1    2     paid         none           own  False
2    3     paid         none           own  False
3    4     paid    guarantor          rent   True
4    5  arrears         none           own  False
5    6  arrears         none           own   True
6    7  current         none           own  False
7    8  arrears         none           own  False
8    9  current         none          rent  False
9   10     none         none           own   True
10  11  current  coapplicant           own  False
11  12  current         none           own   True
12  13  current         none          rent   True
13  14     paid         none           own  False
14  15  arrears         none           own  False
15  16  current         none           own  False
16  17  arrears  coapplicant          rent  False
17  18  arrears         none          free  False
18  19  arrears         none           own  False
19  20     paid         none           own  False

In [2]:
del df['ID']
df

    History  CoApplicant Accommodation  Fraud
0   current         none           own   True
1      paid         none           own  False
2      paid         none           own  False
3      paid    guarantor          rent   True
4   arrears         none           own  False
5   arrears         none           own   True
6   current         none           own  False
7   arrears         none           own  False
8   current         none          rent  False
9      none         none           own   True
10  current  coapplicant           own  False
11  current         none           own   True
12  current         none          rent   True
13     paid         none           own  False
14  arrears         none           own  False
15  current         none           own  False
16  arrears  coapplicant          rent  False
17  arrears         none          free  False
18  arrears         none           own  False
19     paid         none           own  False

In [3]:
Y_data = df.pop('Fraud')
Y_data = Y_data.values
Y_data

array([ True, False, False,  True, False,  True, False, False, False,
        True, False,  True,  True, False, False, False, False, False,
       False, False])

In [5]:
X_df = pd.get_dummies(df)
X_df.head(5).T

                         0  1  2  3  4
History_arrears          0  0  0  0  1
History_current          1  0  0  0  0
History_none             0  0  0  0  0
History_paid             0  1  1  1  0
CoApplicant_coapplicant  0  0  0  0  0
CoApplicant_guarantor    0  0  0  1  0
CoApplicant_none         1  1  1  0  1
Accommodation_free       0  0  0  0  0
Accommodation_own        1  1  1  0  1
Accommodation_rent       0  0  0  1  0

In [6]:
X_data = X_df.values
X_data

array([[0, 1, 0, 0, 0, 0, 1, 0, 1, 0],
       [0, 0, 0, 1, 0, 0, 1, 0, 1, 0],
       [0, 0, 0, 1, 0, 0, 1, 0, 1, 0],
       [0, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 1, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 0, 0, 1, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 0, 0, 1, 0, 0, 1],
       [0, 0, 1, 0, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 1, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 0, 0, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0, 1, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 0, 0, 1, 0, 1, 0],
       [1, 0, 0, 0, 1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 1, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 1, 0, 1, 0],
       [0, 0, 0, 1, 0, 0, 1, 0, 1, 0]], dtype=uint8)

In [7]:
P_Y_T = sum(Y_data == True) / len(Y_data)
P_Y_T

0.3

In [9]:
P_Y_F = 1 - P_Y_T
P_Y_F

0.7

In [11]:
idx_Y_T = np.where(Y_data == True)
idx_Y_F = np.where(Y_data == False)

In [12]:
p_x_y_t = (X_data[idx_Y_T].sum(axis= 0)) / sum(Y_data == True)
p_x_y_f = (X_data[idx_Y_F].sum(axis= 0)) / sum(Y_data == False)
p_x_y_t, p_x_y_f

(array([0.16666667, 0.5       , 0.16666667, 0.16666667, 0.        ,
        0.16666667, 0.83333333, 0.        , 0.66666667, 0.33333333]),
 array([0.42857143, 0.28571429, 0.        , 0.28571429, 0.14285714,
        0.        , 0.85714286, 0.07142857, 0.78571429, 0.14285714]))

In [15]:
tt_x = [0, 1, 0, 0, 0, 1, 0, 0, 1, 0]
tt_y_t = P_Y_T + p_x_y_t.dot(tt_x)
tt_y_f = P_Y_F + p_x_y_f.dot(tt_x)
tt_y_t, tt_y_f

(1.6333333333333333, 1.7714285714285714)